:root{
    --negro : rgb(0 0 0);
    --blanco : rgb(255 255 255);
    --gris : rgb(155 155 155);
    --grisClaro : rgba(115, 114, 114, 0.9);
    --celeste : rgb(72, 152, 232);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.search_types_container{
    border: none;
}

.types_search{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    border-bottom: 1px solid var(--grisClaro);
    padding: 0 0 5px;
}

.types_search a{
    text-decoration: none;
    padding: 4px 0 0 0;
}

.link_visited{
    border-bottom: 2px solid var(--celeste);
}

.no_content_container{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px 0;
}

.title_no_content{
    text-align: center;
    color: var(--blanco);
    font-size: 1.3em;
}

.no_content_text{
    color: var(--gris);
    text-align: center;
}

.search_content{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.response_container{
    display: flex;
}

.current_post{
    text-decoration: none;
    border-bottom: 1px solid var(--grisClaro);
}