:root{
    --negro : rgb(0 0 0);
    --blanco : rgb(255 255 255);
    --gris : rgb(155 155 155);
    --grisClaro : rgba(115, 114, 114, 0.9);
    --celeste : rgb(72, 152, 232);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--blanco);
}

body{
    background: var(--negro);
    position: relative;
    min-height: 100vh;
}

.main_container{
    display: flex;
    width: 100%;
    justify-content: center;
}

.saves_posts_container{
    width: 100%;
    max-width: 700px;
    border-right: 1px solid var(--grisClaro);
}


