:root{
    --negro : rgb(0 0 0);
    --blanco : rgb(255 255 255);
    --gris : rgb(155 155 155);
    --grisClaro : rgba(115, 114, 114, 0.9);
    --celeste : rgb(72, 152, 232);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--blanco);
}

body{
    background: var(--negro);
    position: relative;
    min-height: 100vh;
}

.notifications_container{
    width: 100%;
    max-width: 700px;
}

.header_notifications{
    padding: 8px 10px;
}

.header_notifications h3{
    text-align: center;
    font-size: 1.2em;
}


.notifications{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.notification{
    padding: 5px 15px;
    display: flex;
    width: 100%;
    border-bottom: 1px solid var(--grisClaro);
    text-decoration: none;
}

.action_container{
    min-height: 50px;
    margin-right: 8px;
    padding-top: 3px;
}

.action_container i{
    color: rgb(255 0 0);
    font-size: 1.2em;
}


.img_user{
    min-height: 30px;
    width: 30px;
    border-radius: 20px;
    background: var(--celeste);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.img_user_img{
    width: 100%;
}


.message_container{
    padding-top: 3px;
}

.message_container p{
    font-size: 1.12em;
}

.post_data_container{
    padding: 5px 0;
}

.post_data_container *{
    color: var(--grisClaro);
}

.post_data_container p{
    font-size: 1.11em;
}



@media screen and (min-width:485px){
    .main_container{
        display: flex;
        flex-direction: row;
        width: 100%;
    }
    .header_notifications h3{
        font-size: 1.4em;
    }
    .notifications_container{
        border-right: 1px solid var(--grisClaro);
    }
}