:root{
    --negro : rgb(0 0 0);
    --blanco : rgb(255 255 255);
    --gris : rgb(155 155 155);
    --grisClaro : rgba(115, 114, 114, 0.9);
    --celeste : rgb(72, 152, 232);
}

.nav{
    display: none;
}

.notification_container{
    position: relative
}

.count_notification_container{
    display: none;
    position: absolute;
    top: -8px;
    right: -4px;
    border-radius: 50%;
    padding: 1px 3px;
    background: red;
    min-height: 10px;
    min-width: 10px;
}

.count_notification{
    color: var(--blanco);
}

@media screen and (min-width:485px){
    .nav_container{
        position: relative;
        height: 100vh;
        min-width: 40px;
    }
    
    .nav{
        display: flex;
        flex-direction: column;
        height: 100vh;
        position: fixed;
    }
    
    .nav_icon_container{
        padding: 10px 5px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 4px 0;
    }
    
    .nav_link_description{
        display: none;
    }
    
    .nav_border_filter{
        padding: 0;
        margin: 0;
        position: absolute;
        height: 100vh;
        top: 0;
        right: 0;
        width: 1px;
        filter: blur(1.2px);
        background: var(--blanco);
    }
    
    .nav i{
        font-size: 1.6em;
    }
    
    .nav_owner_icon_container{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: 2px;
    }

    .nav_owner_logo_container{
        width: 100%;
        display: none;
        justify-content: center;
        align-items: center;
        position: absolute;
        padding: 10px 5px;
        right: 25px;
        bottom: 5px;
    }

    .logo_icon_container{
        padding: 7px 20px;
        background: var(--negro);
        border-radius: 30px;
        border: 1px solid var(--blanco);
        font-size: 1.2em;
        text-decoration: none;
    }

    .delete_session_container{
        cursor: pointer;
    }

    #delete_session{
        display: none;
    }
}

@media screen and (min-width:1085px){
    .nav_container{
        min-width: 205.48px;
    }
    .nav{
        width: max-content
    }
    .nav_icon_container a{
        width: 100%;
        display: flex;
        align-items: end;
        text-decoration: none;
    }
    .nav_icon_link_container{
        min-width: 24px;
    }

    #delete_session{
        display: block;
    }

    .nav_link_description_container{
        width: 100%;
        display: flex;
        justify-content: start;
    }
    .nav_link_description{
        display: block;
        padding: 0px 20px;
        font-size: 1.3em;
    }
    .nav_owner_icon_container{
        display: none;
    }

    .nav_owner_logo_container{
        display: flex;
    }

    .nav_owner_logo_container a{
        width: 100%;
        text-align: center;
    }
}